name: CI
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup
        uses: ./.github/actions/setup

      - name: Lint files
        run: yarn lint

      - name: Typecheck files
        run: yarn typecheck

  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup
        uses: ./.github/actions/setup

      - name: Run unit tests
        run: yarn test --maxWorkers=2 --coverage

  build-ios-from-source:
    runs-on: macos-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup
        uses: ./.github/actions/setup

      - name: Cache build & pods
        uses: actions/cache@v3
        with:
          path: |
            example/ios/Pods
            example/ios/build
          key: ${{ runner.os }}-pods-${{ hashFiles('example/ios/Podfile.lock') }}
          restore-keys: |
            ${{ runner.os }}-pods-

      - name: Upgrade CocoaPods to version 1.15.2
        run: |
          gem uninstall cocoapods --ignore-dependencies
          gem install cocoapods -v 1.15.2

      - name: Install cocoapods
        run: |
          yarn example pods

      - name: Build example for iOS
        run: |
          yarn build:ios

  build-ios-frameworks:
    runs-on: macos-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup
        uses: ./.github/actions/setup

      - name: Cache build & pods
        uses: actions/cache@v3
        with:
          path: |
            example/ios/Pods
            example/ios/build
          key: ${{ runner.os }}-pods-${{ hashFiles('example/ios/Podfile.lock') }}
          restore-keys: |
            ${{ runner.os }}-pods-

      - name: Upgrade CocoaPods to version 1.15.2
        run: |
          gem uninstall cocoapods --ignore-dependencies
          gem install cocoapods -v 1.15.2

      - name: Install cocoapods
        run: |
          yarn example pods
        env:
          RNWHISPER_BUILD_FROM_SOURCE: 0

      - name: Build frameworks
        run: |
          yarn build:ios-frameworks

      - name: Build example for iOS
        run: |
          yarn build:ios

  build-android-from-source:
    runs-on: ubuntu-latest
    steps:
      - name: Maximize build space
        run: |
          df -h
          echo "Removing dotnet"
          sudo rm -rf /usr/share/dotnet
          echo "Removing ghc"
          sudo rm -rf /opt/ghc
          echo "Removing CodeQL"
          sudo rm -rf /opt/hostedtoolcache/CodeQL
          df -h

      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup
        uses: ./.github/actions/setup

      - name: Build Hexagon HTP libraries
        run: |
          USE_DOCKER=yes ./scripts/build-hexagon-htp.sh

      - name: Build example for Android
        env:
          HEXAGON_SDK_VERSION: 6.4.0.2
          HEXAGON_TOOLS_VERSION: 19.0.04
        run: |
          export HEXAGON_SDK_ROOT="$HOME/.hexagon-sdk/$HEXAGON_SDK_VERSION"
          export HEXAGON_TOOLS_ROOT="$HEXAGON_SDK_ROOT/tools/HEXAGON_Tools/$HEXAGON_TOOLS_VERSION"
          yarn build:android
